<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ArEx_DataBase.Properties.Settings.ArExDbConnectionString"
            connectionString="Data Source=DESKTOP-5HFGC8L\SQLEXPRESS;Initial Catalog=ArExDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>